/* Transition slide up */

.slide-up-enter-active,
.slide-up-leave-active {
    transition: all 0.1s;
}
.slide-up-enter-from{
    opacity: 0.5;
    transform: translate3d(0, 0.5rem, 0);
}
.slide-up-leave-to {
    opacity: 0;
    transform: translate3d(0, 0.5rem, 0);
}

@keyframes typing {
    0% {
        border-right-color: rgb(255, 255, 255, .5);
    }
    50% {
        border-right-color: rgb(255, 255, 255, 0);
    }
    100% {
        border-right-color: rgb(255, 255, 255, .5);
    }
}